.yearinput {
    width: 200px;
}

.loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elementsloading {
    display: flex;
    flex-direction: column;
}

.loadingdots {
    display: flex;
    justify-content: center;
}
.vistaPeriodos{
    padding-left: 2em;
    padding-right: 2em;
}

.sede{
    background-color: #E6E6F2 !important;
    border-radius: 40px !important;
    padding: 5px 10px !important;
}