.yearinput {
    width: 200px;
}

.loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.elementsloading {
    display: flex;
    flex-direction: column;
}

.loadingdots {
    display: flex;
    justify-content: center;
}
.vistaPeriodos{
    padding-left: 2em;
    padding-right: 2em;
}

.sede{
    background-color: #E6E6F2 ;
    border-radius: 40px ;
    padding: 5px 10px ;
}

.botonBasurero{
    padding: 2px 2px !important;
    background-color: transparent !important;
}

.basurero{
    display: contents !important;
}