.tabla {
  margin-top: 50px;
  margin-right: 200px;
  margin-left: 200px;
}

.titulo {
  font-size: 24px;
  color: #808080;
  font-size: 28px !important;
  font-weight: 400 !important;
  line-height: 28px !important;
  text-align: center !important;
}

.linea {
  width: 100%;
  border-bottom: 1px solid #BDBDBD;
  color: #808080;
}

.bordes-tabla {
  margin-top: 40px;
  border-bottom: 1px solid #2eCC40 !important;
  border-right: 0px !important;
  border-left: 0px !important;
}

.tarjeta-tabla {
  box-shadow: 0px 2px 5px #0000004d;
  border-radius: 0px !important;
}

.tarjeta-verde {
  background-color: #BADA5599 !important;
  border-radius: 15px !important;
  padding: 5px 10px !important;
  color: #2f2e2e !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 28px !important;
  text-align: center !important;
}

.no-border {
  border: 0px !important;
}

.menu-icon {
  width: 20px;
}

.icono-texto {
  cursor: pointer;
}

.icono-buscar {
  position: absolute;
  transform: translate(8px, 5px);
}

.tabla-menu {
  margin: 10px;
}

.icon {
  width: auto;
  margin: 0px 0px;
  cursor: pointer;
}

.search {
  float: left;
}