.displayFlex {
  display: flex;
}

.centered {
  justify-content: center;
}

.spacedBetween {
  justify-content: space-between;
}

.columnGap {
  column-gap: 1em;
}

.linkElement {
  padding: 1em;
  border-radius: 4px;
  background-color:#17c671;
  color:white
}

.opcionesPeriodo {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}

.selectBar {
  width: 15em;
}

.fullWidth {
  width: 100%;
}

.year-picker {
  height: 3em;
  width: 100% !important;
}

.jTime {
  width: 100% !important;
}

.opcionesPeriodo {
  display: flex;
  align-items: center;
}

.actionsCrearPeriodo{
  display: flex;
  justify-content: space-between;
}

.dosentradasformulario {
  width: 50%;  
}

.columnGap {
  column-gap: 1em;
}

.jTime {
  width: 100% !important;
}

.forceFlex {
  display: flex !important;
}

.rowGap {
  row-gap: 1em;
}

.isColumn {
  flex-direction: column;
}